@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --background: 245, 245, 245;
  --cta-background: 197, 197, 197;

  --message-background:234, 234, 234;
  --message-day-background:200, 200, 200;

  --button-background: 21, 21, 24;

  --border: 212, 212, 212;
  --card: 255, 255, 255;

  --copy-primary: 23, 23, 23;
  --copy-secondary: 115, 115, 115;

  --cta: 139, 92, 246;
  --cta-active: 124, 58, 255;
  --cta-text: 255, 255, 255;

  background: rgba(var(--background));
  color: rgb(188, 188, 188);

}

.dark {
  --background: 0, 0, 0;
  --cta-background: 58, 58, 58;

  --message-background:29, 29, 29;
  --message-day-background:63, 63, 63;

  --button-background: 245, 245, 245;

  --border: 38, 38, 38;
  --card: 23, 23, 23;

  --copy-primary: 250, 250, 250;
  --copy-secondary: 115, 115, 115;

  --cta: 99, 102, 241;
  --cta-active: 79, 70, 229;
  --cta-text: 255, 255, 255;

  background: rgba(var(--background));
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
